@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/rfs/scss";
$primary-color: #2d9cdb;
$green: #27ae60;
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #828282;
$grey-4: #bdbdbd;
$grey-6: #f2f2f2;
$orange: #eb5757;

// about font
body {
	font-family: Poppins;
}
h1 {
	@include font-size(36px);
	color: $grey-1;
	line-height: 1.8;
	font-weight: bold;
}
label {
	@include font-size(14px);
}
p {
	@include font-size(18px);
	color: $grey-2;
	&.color__primary {
		color: $primary-color;
	}
	&.color__orange {
		color: $orange;
	}
	&.color__white {
		color: white;
	}
}
.note {
	@include font-size(14px);
}

//about background-color
.btn-primary {
	background-color: $primary-color;
	border-color: $primary-color;
}
.bg-primary {
	background-color: $primary-color;
}
.bg-green {
	background-color: $green;
}

.bg-orange {
	background-color: $orange;
}

// about sizing etc...
.form-control {
	max-width: 300px;
	background-color: $grey-6;
	border: none;
	&:focus {
		background-color: $grey-6;
	}
}
.material-icons {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.icon {
	font-size: 42px;
	width: 67px;
	height: 67px;
	border-radius: 15px;
}
.snsicon {
	font-size: 21px;
	width: 24px;
	height: 24px;
}
.card {
	border: none;
}
.card__shadow {
	@extend .card;
	&:hover {
		@extend .shadow;
		@extend .p-3;
		@extend .mb-5;
		@extend .bg-white;
		@extend .rounded;
	}
}
.btn-secondary {
	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
	}
}
.img-fluid {
	border-radius: 20px;
}
.card-img {
	width: 82px;
	height: 82px;
	border-radius: 20px;
}
.margin-section {
	@include margin(120px);
}
footer {
	background-color: #100e1d;
	color: $grey-6;
	padding: 30px 150px 20px 150px;
}
.bottom-nav {
	color: white;
	&:hover {
		color: $grey-4;
	}
}

// media queries for PC
@include media-breakpoint-up(md) {
	.product-seciton .card:nth-of-type(2n + 1) .blankbox {
		height: 150px;
	}
}
